/* General body styling */
body {
  font-family: "Arial", sans-serif;
  background-color: #f5eadc;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  NavBar styling */
.nav-bar {
  background: #fff9f9;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  font-size: 25px;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-bar li {
  display: inline;
  margin-right: 10px;
}

.nav-bar a {
  text-decoration: none;
  color: #333;
}

.nav-bar a:hover,
.nav-bar .active {
  font-weight: bold;
}

/* App container */
.App {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
button {
  max-width: 300px;
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  display: block;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="text"] {
  background-color: #fffff0;
}

button {
  background-color: #b88a4f;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a78b62;
}

/* Headings and text */
h1 {
  text-align: center;
  color: #333;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }
}

/* General container style for both the quote display and form */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 200px;
}

.quote-display-area {
  flex: 1 1 auto;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  font-size: 22px;
}

.quote-form {
  flex: 0 1 auto;
}

.quote-form input[type="text"],
.quote-form button {
  width: 90%;
  margin: 10px auto;
}

.quote-form input,
.quote-form button {
  width: 100%;
  box-sizing: border-box;
}

.quote-form input[type="text"] {
  margin-bottom: 10px;
}

/* About Page Styles */
.about-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-container h1,
.about-container h2 {
  color: #333;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.about-container p,
.about-container ul {
  text-align: justify;
  line-height: 1.6;
}

.about-container li {
  margin-bottom: 5px;
}

.about-container ul {
  padding-left: 20px;
}

/* Contact page styles */

.contact-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-container h1 {
  color: #333;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.contact-container p {
  text-align: justify;
  line-height: 1.6;
}

.contact-container ul {
  list-style: none;
  padding: 0;
}

.contact-container li {
  margin-bottom: 10px;
  font-size: 16px;
}

.contact-container a {
  color: #0066cc;
  text-decoration: none;
}

.contact-container a:hover {
  text-decoration: underline;
}
